 /* responsive web design */
 @media screen and (min-width: 120px) and (max-width: 1080px){}
main {
    height: 30ch;
    zoom: 0.9;
    display: block;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 76px;
  }

  #all-contents {
    height: 67ch;
    margin: 18px;
  }

  a {
    font-size: 16px;
  }

  .sidebar {
    margin-right: 84px;
    justify-content:baseline;
    align-items: center;
  }

  .sidebar-img {
    width: 48%;
  }

  p,
  li {
    font-size: 19px;
  }

  .content {
    align-content: center;
    justify-content: center;
  
}

 body{
    background: rgb(11, 109, 122);
    color: rgb(0, 0, 0);
    padding: 19px;;
    font-family:fantasy;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(16, 90, 44, 0);
   margin: 29 auto;
   margin-bottom: 20px;
    display: block;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(113, 230, 238);
    flex: 29;
    margin: 40;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding:0 10px;
}
a {
    text-decoration: block;
    color: #1e9c77bd;
}

/* main container area beneath menu */
main {
    background: rgb(55, 140, 146);
    border-radius:6%;
    display: 40px flex;
}
.sidebar {
    margin-right: 500px;
    padding: 13px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 192px;
    padding: 9px;
}

/* portfolio styles */
#interests {
    border: 99px rgba(33, 147, 167, 0.5) groove;
    border-radius: 6%;
    padding: 9px;
}
h2, h3 {
    margin: 19px;
}
 /* portfolio styles */
 .content h1 {
    color: rgb(255, 255, 255);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #0fb82b;
    padding: 10px;
    border-radius: 4%;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #749290;
}

#portfolio a {
    text-decoration: rgb(153, 175, 149);
    color: #2c78be;
}