#board {
    background: rgb(218, 8, 8);
    width: 3000px;
    height: 3000px;
    left: 100px;
    top: 0px;
}


.circle {
    background: rgb(74, 153, 9);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}