#board {
  width: 400px;
  margin: auto;
  border: rgb(28, 151, 189) ridge 4px;
}

#info-bar {
  width: 400px;
  height: 40px;
  background: rgb(21, 58, 160);
  font-size: 40px;
  text-align: center;
}

#shape-container {
  width: 400px;
  height: 400px;
  background: rgb(0, 0, 0);
  border-top: rgb(192, 192, 192) ridge 4px;
  border-bottom: rgb(192, 192, 192) ridge 4px;
}

#button-box {
  width: 400px;
  height: 40px;
  background: rgb(184, 157, 5);
}

#shape {
  color: rgb(152, 184, 12);
  width: 100px;
  height: 100px;
  position: relative;
  top: 150px;
  left: 150px;
  border: rgb(28, 16, 197) solid 2px;
  display: block;
}

button {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-left: 9px;
}

p {
  margin: 10px;
}
